.rentCategories {  
  width: 100vw;
  align-items: center;
  margin-top: 2em; 
  padding: 0 1.5em 3.5em;
}

.main-heading_rentCategories {
  text-align: center; 
  color: #263238;
}

.card-img {
  width: 100%;
  height: 250px; 
  border-radius: 20px;
}

.text-container {
  margin-bottom: 15em;
  padding-left: 1.5em;
}

.category-name {
  color: #263238;
}

.main-container_rentCategories {
  border-radius: 25px;
}


@media (min-width: 480px) and (max-width: 590px) {

  .main-container_rentCategories {
    display: flex;
    flex-wrap: wrap;
  }

  .card-img {
    width: 250px;
    height: 150px; 
  }

  .card {
    width: 250px; /*570*/
    margin-right: .5em;
  }

}

@media (min-width: 1200px) {

  .rentCategories {
    padding: 0;
  }

  .main-heading_rentCategories {
    margin-bottom: 1em;
  }

  .main-container_rentCategories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 2em;
  }

  .card-img-container {
    width: 450px; /*editar dependiendo número de carros*/
  }

  .card-img {
    max-width: 100%;
    height: 0 auto; 
  }

  .card {
    height: 350px;
  }

}