.rentCategories {  
  width: 100vw;
  align-items: center;
  margin: 2em 0 0; 
  padding: 0 1.5em 3.5em;
}

h2 {
  text-align: center; 
  color: #263238;
}

.category-rent-img {
  width: 100%;
  height: 250px; 
  border-radius: 20px;
}

.textos {
  margin-bottom: 15em;
  padding-left: 1.5em;
}

.category-name {
  color: #263238;
}

.line {
  border-radius: 25px;
}


@media (min-width: 480px) and (max-width: 590px) {

  .line {
    display: flex;
    flex-wrap: wrap;
  }

  .category-rent-img {
    width: 250px;
    height: 150px; 
  }

  .card-header {
    width: 250px; /*570*/
    margin-right: .5em;
  }

}

@media (min-width: 1200px) {

  h2 {
    margin-bottom: 1em;
  }

  .line {
    display: flex;
    justify-content: space-between;
  }

  .category-rent-img {
    width: 90%;
    height: 400px; 
  }

}