section.card-car-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

div.card-car-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

div.card-car {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

div.card-image-container {
  width: 80vw;
  max-height: 300px;
}

img.image-list {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}

div.info-container {
  padding-left: 20px;
  padding-bottom: 8px;
}

@media only screen and (min-width: 480px) {
  /* For Tablet: */
  div.card-car {
    height: 41vh;
  }

  div.info-container {
    padding-top: 8px;
  }
}

@media only screen and (min-width: 1200px) {
  /* For Desktop: */
  div.card-car-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  div.card-car {
    width: 40vw;
    height: 45vh;
  }

  div.card-image-container {
    width: 40vw;
  }

}