section.policy-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

section.policy-container h2 {
    font-size: 1.3rem;
    color: var(--third-color);
    padding-left: 1.3em;
}

section.policy-container h3 {
    color: var(--third-color);
    padding-left: 1.2em;
}

div.rules-container {
    padding: 20px 0 0 20px;
}

div.rules-container p {
    padding: 10px 0 0 22px;
    color: #607d8b;
}

div.security-container {
    padding: 20px 0 0 20px;
}

div.security-container p {
    padding: 10px 0 0 22px;
    color: #607d8b;
}

div.cancellation-container {
    padding: 20px 0 0 20px;
}

div.cancellation-container p {
    padding: 10px 0 0 22px;
    color: #607d8b;
}