:root {
    --background-color: #607d8b;
}

.main-box {
    /*Display & Box Model*/
    margin-top: 100px;
    height: 260px;

    /*Otros*/
    background-color: var(--background-color);
}

.main-box form {
    /*Display & Box Model*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.1em;
}

.main-box form input {
    /*Display & Box Model*/
    width: 95%;
    border-radius: 6px;
    border: none;
    padding: .7em 1.5em .7em 3em;
}

.main-box form input:focus{
    /*Otros*/
    outline: none;
}

.main-box form .form-input__check {
    /*Display & Box Model*/
    margin-top: .5em;

    /*Otros*/
    background-image: url(../../assets/img/icon-calendar.png);
    background-repeat: no-repeat;
    background-position: 2% center;
}

.main-box form .form-input__map {
    /*Otros*/
    background-image: url(../../assets/img/icon-map-marker.png);
    background-repeat: no-repeat;
    background-position: 2.5% center;
}

.main-box form button {
    /*Display & Box Model*/
    width: 95%;
    border-radius: 6px;
    border: none;
    margin-top: .5em;
    padding: .8em 0;

    /*Otros*/
    background-color: var(--main-color);
    color: #ffffff;
    font-weight: bold;
}


/* ==============================
   ==============================
            BREAKPOINTS
   ============================== 
   ============================== */

/*TABLETS*/

@media (min-width: 480px) and (max-width: 590px) {

    .main-box {
        /*Display & Box Model*/
        height: 200px;
    }

    .main-box form {
        /*Display & Box Model*/
        display: flex;
        align-items: flex-end;
        flex-direction: row;
    }
    
    .main-box form input {
        /*Display & Box Model*/
        width: 30%;
        margin-right: .7em;
        padding-left: 2em;
    }

    .main-box form button {
        /*Display & Box Model*/
        width: 25%;
        height: 35px;
    }

    .main-box form .form-input__map {
        /*Display & Box Model*/
        padding-left: 1.7em;
    }

    .main-box form .form-input__check {
        /*Display & Box Model*/
        padding-left: 2.1em;
    }

}


@media (min-width: 591px) {

    .main-box {
        /*Display & Box Model*/
        height: 150px;
    }

    .main-box form {
        /*Display & Box Model*/
        display: flex;
        align-items: flex-end;
        flex-direction: row;
    }

    .main-box form input {
        /*Display & Box Model*/
        width: 32%;
        margin-right: .7em;
        padding-left: 2em;
    }

    .main-box form button {
        /*Display & Box Model*/
        width: 25%;
        height: 35px;
    }

    .main-box form .form-input__map {
        /*Display & Box Model*/
        padding-left: 1.8em;
    }

    .main-box form .form-input__check {
        /*Display & Box Model*/
        padding-left: 2.2em;
    }

}

@media (min-width: 1200px) {

    .main-box form input {
        /*Display & Box Model*/
        width: 27%;
    }

    .main-box form button {
        /*Display & Box Model*/
        width: 15%;
        height: 35px;
    }

    .main-box form .form-input__map {
        /*Display & Box Model*/
        padding-left: 2.3em;
    }

    .main-box form .form-input__check {
        /*Display & Box Model*/
        padding-left: 2.6em;
    }

}