@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* =====================================================
                        GENERAL
   ===================================================== */

* {
    /*Display & Box Model*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #607d8b;
    --second-color: #fbc02d;
    --third-color: #263238;
}

body {
    /*Display & Box Model*/
    height: 100vh;
    max-width: 480px;

    /*Otros*/
    font-family: 'Poppins', sans-serif;
}


/* =====================================================
                        HEADER
   ===================================================== */

header {
    /*Display & Box Model*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100vw;
    padding: 0 .9em;

    /*Otros*/
    color: var(--main-color);

    border-bottom: 1px solid red;
}

.header-links__logo {
    padding-top: 1.1em;
}

header a {
    /*Otros*/
    text-decoration: none;
    color: #050c0c;
}

header a:visited{
    /*Otros*/
    text-decoration: none;
    color: #050c0c;
}

.fa-bars {
    /*Otros*/
    font-size: 1.5rem;
}

.header-input {
    /*Display & Box Model*/
    display: none;       
}

header .header-links .header-links__slogan {
    /*Display & Box Model*/
    display: none;
}


/* =====================================================
                        MAIN
   ===================================================== */

main {
    /*Display & Box Model*/
    width: 100vw;
}

h1 {
    /*Display & Box Model*/
    padding: 4.1em 1em 0;

    /*Otros*/
    font-size: 1.8rem;
    text-align: center;
}


/* =====================================================
                        FOOTER
   ===================================================== */

footer {
    /*Display & Box Model*/
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 58px;
    width: 100vw;
    padding-left: 1.4em;

    /*Otros*/
    background-color: var(--second-color);
}

.copyright-text {
    /*Otros*/
    font-weight: 600;
    font-size: .8rem;
    color: var(--third-color);
}

.footer-icons {
    /*Display & Box Model*/
    display: none;
}


/* ==============================
   ==============================
            BREAKPOINTS
   ============================== 
   ============================== */

/*TABLETS*/

@media (min-width: 481px) and (max-width: 768px) {

    /* =====================================================
                            HEADER
    ===================================================== */

    header {
        /*Display & Box Model*/
        padding: 0 1.6em;
    }

    header .header-links .header-links__slogan {
        /*Display & Box Model*/
        display: none;
    }

    .menu-icon {
        /*Display & Box Model*/
        display: none;
    }

    header .header-input {
        /*Display & Box Model*/
        display: block;  
        padding-top: 1.4em;    
    }

    header .header-input input {
        /*Display & Box Model*/
        padding: .8em 2.8em;
        border-radius: 7px;
        border: none;

        /*Otros*/
        background-color: var(--second-color);
        color: #ffffff;
        font-size: .8rem;
        font-weight: 700;
    }

    header .header-input .header-input__signup {
        /*Display & Box Model*/
        margin-right: 1.1em;
    }

    
    /* =====================================================
                            FOOTER
    ===================================================== */

    footer {
        /*Display & Box Model*/
        display: flex;
        justify-content: space-between;
        padding: 0 1.9em;
    }

    .footer-icons {
        /*Display & Box Model*/
        display: inline-block;
    }

    .footer-icons .footer-icons__padding-right {
        /*Display & Box Model*/
        padding-right: 1.5em;
    }

}



/*DESKTOP*/

@media (min-width: 1280px) {

    /* =====================================================
                            HEADER
    ===================================================== */

    header {
        /*Display & Box Model*/
        padding: 0 2.8em;
    }

    header .header-links {
        /*Display & Box Model*/
        display: flex;
        align-items: center;
    }

    header .header-links .header-links__logo {
        /*Display & Box Model*/
        padding-right: 1.2em;
    }

    header .header-links .header-links__slogan {
        /*Display & Box Model*/
        display: block;
        padding-top: 1.3em;

        /*Otros*/
        font-style: italic;
        font-weight: 400;
    }

    .menu-icon {
        /*Display & Box Model*/
        display: none;
    }

    header .header-input {
        /*Display & Box Model*/
        display: block;      
    }

    header .header-input input {
        /*Display & Box Model*/
        padding: .8em 4.7em;
        border-radius: 6px;
        border: none;

        /*Otros*/
        background-color: var(--second-color);
        color: #ffffff;
        font-size: .8rem;
        font-weight: 700;
    }

    header .header-input .header-input__signup {
        /*Display & Box Model*/
        margin-right: .6em;
    }


    /* =====================================================
                            FOOTER
    ===================================================== */

    footer {
        /*Display & Box Model*/
        display: flex;
        justify-content: space-between;
        padding: 0 3.1em .1em;
    }

    .footer-icons {
        /*Display & Box Model*/
        display: inline-block;
    }

    .footer-icons .footer-icons__padding-right {
        /*Display & Box Model*/
        padding-right: 1.7em;
    }

}


/*elementos a cambiar/definir:
tipografía
lema de la empresa
color de <a>
color de <input>
*/